#about-us-img-container {
   position: relative;
   height: 500px;
}

#about-us-intro-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#about-us-intro-font {
   text-align: center;
}

#intro-overlay {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   bottom: 0px;
   top: 0px;
   left: 0px;
   right: 0px;
}

#intro-overlay h1 {
   color: white;
   font-size: 50px;
   font-weight: 700;
}

#who-we-are-container,
#services-container {
   margin-top: 60px;
}

#who-we-are-title,
#mission-statement-title,
#what-we-provide-title {
   font-weight: 600;
}

#who-we-are-desc,
#mission-statement {
   text-align: justify;
}

#who-we-are-deco-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px;
}

.service-card {
   border-radius: 15px;
   border-style: solid;
   border-width: 3px;
   background-color: rgb(255, 255, 255) !important;
   margin: 10px;
   width: 280px;
   height: 300px;
   
}

.service-img-container {
   display: flex;
   justify-content: center;
   background-color: white !important;
}

.service-card p {
   text-align: justify;
   background-color: white !important;
}

.service-img {
   width: 150px;
   height: 150px;
   margin-bottom: 20px;
   object-fit: cover;
}

.service-title {
   text-align: center;
   color: black !important;
}