#other-states-btn {
   border: none;
   color: white;
   font-size: 20px;
   font-weight: 600;
   padding: 9px 20px;
   transition: 0.3s background-color;
   cursor: pointer;
   background-color: #36b3c9;
}

#other-states-btn:hover {
   opacity: 0.6;
}

#other-states-btn:active {
   opacity: 0.8;
}

#states-offcanvas-header {
   font-weight: 600 !important;
}

.get-info-btn {
   border: none;
   color: black;
   width: 100%;
   height: 50px;
   font-size: 20px;
   font-weight: 500;
   padding: 9px 20px;
   background-color: white;
   transition: 0.3s background-color;
   cursor: pointer;
}

.get-info-btn:hover {
   background-color: rgba(83, 83, 83, 0.1);
}

.get-info-btn:active {
   background-color: rgba(255, 255, 255, 1);
}

#info-name {
   font-weight: 600;
}

#must-go-desc,
#must-eat-desc {
   text-align: justify;
   font-size: 20px;
}

#must-go-title,
#must-eat-title {
   font-weight: 600;
   font-size: 25px;
}

.info-card {
   border-radius: 25px;
   width: 350px;
   /* Change its size according to screen size*/
   height: 400px;
   transition: all 0.2s ease;
   position: relative;
   margin-left: 25px;
   margin-right: 25px;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 0px;
   cursor: pointer;
}

.info-card:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
   opacity: 0.7;
}

.info-card:active {
   box-shadow: none;
   opacity: 0.9;
}

.info-photo {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 25px;
}


.info-description-container {
   padding: 10px;
   position: absolute;
   border-radius: 25px;
   bottom: 10px;
   left: 10px;
   right: 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   background: rgba(255, 255, 255, 0.8);

}

.info-description-container h3 {
   font-weight: 700;
   color: black !important;
}

.info-description-container p {
   font-weight: 500;
   color: black !important;
}

#attraction-details-modal {
   display: none;
   z-index: 101;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.3);
}

#attraction-details-card {
   overflow-y: scroll;
   max-height: 600px;
   position: absolute;
   top: 60px;
   background-color: white;
   border-radius: 15px;
   overflow-y: auto;
}

#attraction-details-header {
   background-color: #36b3c9;
   padding: 10px;
}

#attraction-name {
   font-weight: 600;
   font-size: 25px;
}

#modal-btn-close {
   width: 40px;
   height: 40px;
}

#attraction-details-body {

   padding: 20px 35px;
   display: flex;
   flex-direction: column;
   row-gap: 20px;
}

#attraction-details-statement {
   text-align: justify;
   font-size: 20x;
   font-weight: 400;
}

#attraction-location {
   width: 100%;
   height: 500px;
   object-fit: cover;
   border-radius: 35px;
}

#attraction-img-container {
   background-color: rgba(144, 238, 133, 0.15);
}

#attraction-img {
   width: 80%;
   height: 80%;
   object-fit: cover;
   border-radius: 15px;
}

#attraction-details-footer {
   padding: 10px;
   background-color: #36b3c9;
}

#save-attraction-btn {
   width: 200px;
   height: 50px;
   border-radius: 15px;
   font-size: 20px;
   font-weight: 500;
   transition: all 0.2s ease;
}

#save-attraction-btn:active {
   opacity: 0.7;
}

.discover-swiper-prev-btn,
.discover-swiper-next-btn {
   color: black;
   transition: all 0.2s ease;
}

.discover-swiper-prev-btn:hover,
.discover-swiper-next-btn:hover {
   opacity: 0.5;
}