<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Festivals in Malaysia</title>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Culture and Heritage</title>
   <!-- Favicon -->
   <link rel="icon" type="image/x-icon" href="/src/resources/images/website-logo.png">
   <!-- Header and Footer -->
   <script type="module" src="/src/controllers/header-footer.js"></script>
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap"
      rel="stylesheet">
   <!-- Bootstrap -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
   <!-- CSS -->
   <link rel="stylesheet" href="../resources/css/main.css">
   <link rel="stylesheet" href="/src/resources/css/header-footer.css">
    <link rel="stylesheet" href="/src/resources/css/festives.css">
    <link rel="stylesheet" href="/src/resources/css/header-footer.css">
    <link rel="stylesheet" href="/src/resources/css/theme.css">
    <!-- JavaScript-->
   <script type="module" src="header-footer.js"></script>
   <script src="https://cdn.logwork.com/widget/countdown.js"></script>
   <script src="https://cdn.logwork.com/widget/currency_converter.js"></script>
   <script type="module" src="/src/controllers/theme.js"></script>
</head>
<body> 
    <my-header></my-header>
    
    <section id="home">
        
        <section id="transportation-intro-container">
            <div id="intro-img-container">
               <img id="intro-img" src="/src/resources/images/festive-main-bg.jpg" alt="intro-img">
               <div id="intro-overlay">
                <h1 id="msia-public-trans-font">Malaysian Festivals</h1>
               </div>
            </div>
            <div class="message container" id="intro-message">
               <div class="row">
                  <div class="col">
                    <p>Malaysia is a vibrant tapestry woven from Malay, Chinese, Indian, and indigenous traditions, celebrated through diverse festivals, cuisines, and languages.</p>
                  </div>
               </div>
            </div>
         </section>
       
        <div class="featured-festivals">
            <div class="festival-card">
                <img src="/src/resources/images/festive-aidilfitri-1.png" alt="Eid Festival">
                <h2>Hari Raya Aidilfitri</h2>
                <p >During Hari Raya Aidilfitri in Malaysia, the atmosphere is vibrant and festive as the end of Ramadan is celebrated with great enthusiasm. Families come together to perform the special Hari Raya prayers at mosques, followed by festive meals featuring traditional dishes like ketupat, rendang, and kuih raya. The celebration is marked by the practice of giving and receiving duit raya (monetary gifts) to children and those in need. Homes are beautifully decorated with colorful lights and traditional Malay fabrics, while open houses welcome friends and neighbors to join in the joyous feasting and exchanging of well-wishes. The occasion is also a time for wearing new clothes, visiting relatives, and indulging in various cultural performances and activities.</p>
                <img src="/src/resources/images/festive-aidilfitri-2.png" alt="Eid Festival 2">
                <img src="/src/resources/images/festive-aidilfitri-3.jpg" alt="Eid Festival 3">
            </div>
            <div class="festival-card">
                <img src="/src/resources/images/festive-dpvl-1.webp" alt="Deepavali Festival 1">
                <h2>Deepavali</h2>
                <p>Deepavali, also known as Diwali, is a vibrant festival celebrated with great enthusiasm in Malaysia. The festivities begin with families cleaning and decorating their homes with colorful rangoli designs and oil lamps (diyas), symbolizing the victory of light over darkness. Traditional celebrations include performing prayers and rituals at temples to seek blessings for prosperity and well-being. The festive period is marked by sumptuous feasts featuring an array of traditional dishes such as biryani, samosas, and a variety of sweets like laddu and jalebi. Firecrackers are set off to add to the celebratory atmosphere, and cultural performances and community events often take place. Additionally, families and friends exchange gifts and sweets, and charitable acts are encouraged to spread goodwill and joy during the festival.</p>
                <img src="/src/resources/images/festive-dpvl-2.jpg" alt="Deepavali Festival 2">
                <img src="/src/resources/images/festive-dpvl-3.jpg" alt="Deepavali Festival 3">
            </div>
            <div class="festival-card">
                <img src="/src/resources/images/festive-cny-1.jpg" alt="Chinese New Year 1">
                <h2>Chinese New Year</h2>
                <p>Chinese New Year, or Lunar New Year, is a vibrant and highly anticipated celebration in Malaysia. The festivities commence with family reunions and a grand feast, featuring traditional dishes like dumplings, fish, and mandarin oranges, which symbolize prosperity. Homes and streets are adorned with red decorations and lanterns, believed to attract good fortune and happiness. The celebration includes lively dragon and lion dances, firecrackers to drive away bad luck, and various cultural performances. Visitors also partake in the practice of giving and receiving red envelopes (angpau) filled with money, representing wishes for wealth and success in the new year. The communal spirit is highlighted by open houses, where friends and neighbors are invited to join in the joyous celebrations.</p>
                <img src="/src/resources/images/festive-cny-2.jpeg" alt="Chinese New Year 2">
                <img src="/src/resources/images/festive-cny-2.webp" alt="Chinese New Year 3">
            </div>
        </div>

    </section>
    
    <section id="upcomeEvent">
        <h2 id="uE-h">Upcoming Event</h2>
        <p>Don't Miss Out the Upcoming Event in Malaysia!</p>
        <div id="nDanch">
        <a href="https://www.malaysia.travel/events/national-day" target="_blank">
            <img id= "nDimg"src="/src/resources/images/festive-malaysia-national-day.jpg" alt="National day" >    
        </a>
        </div>
    </section>
        <a href="https://logwork.com/countdown-g2wc" class="countdown-timer" data-style="columns" data-timezone="Asia/Kuala_Lumpur" data-textcolor="#594343" data-date="2024-08-31 00:00" data-background="#ffffff" data-digitscolor="#36b3c9" data-unitscolor="#452828">Countdown</a>
    
    <h2>Know your currency before visiting!</h2>
    <div id="currency_converter">
    <a href="https://logwork.com/free-currency-converter-calculator" class="currency_convertor" data-currencies="MYR,USD,EUR,JPY,GBP,CNY,INR,SGD" data-style="modern">Currency Converter</a>
    </div>
    <my-footer></my-footer>
    
    <script src="scripts.js"></script>
</body>
</html>